exportPattern("^[[:alpha:]]+")
import(dplyr)
import(ggplot2)
import(tibble)
import(fastqcr)
importFrom(cowplot,ggdraw)
importFrom(cowplot,draw_label)
importFrom(cowplot,plot_grid)
import(rmarkdown)
import(ggrepel)
import(DESeq2)
import(reshape2)
import(tidyr)
import(stringr)
import(pheatmap)
import(readr)
